.container {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.wrapper {
  width: 50%;
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
}

.io {
  display: flex;
  flex-direction: column;
}

.io label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.modal input,
.modal textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
}

.modal textarea {
  resize: none;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.buttons button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  width: 7.5rem;
}

.buttons button:first-child {
  background-color: rgb(248 113 113);
}

.buttons button:first-child:hover {
  background-color: #dc2626;
}

.buttons button:last-child {
  background-color: #0a9e01;
}

.buttons button:last-child:hover {
  background-color: #15803d;
}
