.container {
  width: 87.5rem;
  padding: 1rem;
  margin: 0rem auto;
  position: relative;
  min-height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  background: rgb(10, 158, 1);
  background: radial-gradient(
    circle,
    rgba(10, 158, 1, 1) 10%,
    #22c55e 50%,
    rgba(34, 193, 195, 1) 75%
  );
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
}

.featured {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
  width: 99.5%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 1px rgba(0 0 0 / 10%);
}

.line-break {
  height: 0.5rem;
  margin: 1rem 0;
  background-color: black;
  border: none;
}

.other-posts {
  background-color: white;
  border: 1px solid #dedede;
  padding: 1rem;
  margin: 2rem 0;
  box-shadow: 0px 0px 10px 1px rgba(0 0 0 / 10%);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 2.5rem;
}

.heading-section {
  position: relative;
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem;
}

.heading-section h2 {
  color: #0a9e01;
  font-size: 1.35rem;
}

.heading-section::after {
  background-color: #0a9e01;
  content: '';
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  transition: 0.35s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
}

.heading-section::before {
  content: '';
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #ededed;
}

.other {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1750px) {
  .container {
    width: 70%;
  }

  .banner {
    font-size: 1.55rem;
  }
}

@media (max-width: 1580px) {
  .container {
    width: 75%;
  }

  .banner {
    font-size: 1.65rem;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    margin: 2rem 0 2rem 0;
    padding: 0;
  }

  .banner {
    border-radius: 0;
    margin-bottom: 2rem;
    font-size: 1.75rem;
    padding: 0.75rem;
  }

  .featured {
    grid-template-columns: 1fr;
  }

  .heading-section h2 {
    font-size: 1.75rem;
  }

  .other-posts {
    border-radius: 0;
  }
}
